:root {
    --shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
    --highlight-color: #1e90ff;
}

html {
    font-family: "Heebo";
    font-weight: 300;
}

::marker {
    color: var(--highlight-color);
}

button {
    cursor: pointer;
}

a {
    color: var(--highlight-color);
    font-weight: 500;
}