.main {
    padding: 3em;
    font-weight: 300;
    height: 100vh;
    height: 100dvh;
}

.main ::marker {
    color: #1e90ff;
}

.heading {
    position: relative;
    color: black;
    width: fit-content;
}

.description {
    max-width: 30em;
}

.subheading {
    margin-block: 1em;
}

.posts {
    min-height: 100%;
}

.posts li{
    margin-block: 0.5em;
}

.posts ::marker {
    content: '💬 ';
}

.postLink {
    font-weight: 600;
}

@media (min-width: 800px) {

    .main {
        display: flex;
        padding: 4em;
        justify-content: center;
        gap: 4em;
    }

    .main > * {
        flex: 1;
    }
    
    .heading {
        font-size: 3rem;
    }

    .heading::after {
        content: '';
        left: 0;
        bottom: 0;
        position: absolute;
        height: 5px;
        width: 25%;
        background-color: #1e90ff;
    }
}