.navigation {
    --top-spacing: 10px;
    padding: calc(var(--top-spacing) + 0.5em) 0.5em;
}

.navigation::after {
    content: '';
    position: absolute;
    background-color: #1e90ff;
    height: var(--top-spacing);
    width: 100%;
    inset: 0;
}

.navigationLink {
    color: black;
}